/*VUETIFY FIX*/
#app{

    /*APPLICATION*/
    .v-application p {
        margin-bottom: 1rem;
    }
    .v-application .rounded {
        border-radius: 0.25rem!important;
    }

    /*MAIN*/
    .container {
        padding: 0.75rem;
    }
    .row {
        margin: -0.75rem;
    }
    .row.no-gutters {
        margin: 0;
    }
    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
        padding: 0.75rem;
    }
    .row.no-gutters>.col, .row.no-gutters>[class*=col-] {
        padding: 0;
    }

    /*MARGINS*/
    .ma-1{
        margin: 0.25rem!important;
    }
    .mr-1{
        margin-right: 0.25rem!important;
    }
    .ml-1{
        margin-left: 0.25rem!important;
    }
    .mt-1{
        margin-top: 0.25rem!important;
    }
    .mb-1{
        margin-bottom: 0.25rem!important;
    }
    .mx-1{
        margin-right: 0.25rem!important;
        margin-left: 0.25rem!important;
    }
    .my-1{
        margin-top: 0.25rem!important;
        margin-bottom: 0.25rem!important;
    }

    .ma-2{
        margin: 0.5rem!important;
    }
    .mr-2{
        margin-right: 0.5rem!important;
    }
    .ml-2{
        margin-left: 0.5rem!important;
    }
    .mt-2{
        margin-top: 0.5rem!important;
    }
    .mb-2{
        margin-bottom: 0.5rem!important;
    }
    .mx-2{
        margin-right: 0.5rem!important;
        margin-left: 0.5rem!important;
    }
    .my-2{
        margin-top: 0.5rem!important;
        margin-bottom: 0.5rem!important;
    }

    .ma-3{
        margin: 0.75rem!important;
    }
    .mr-3{
        margin-right: 0.75rem!important;
    }
    .ml-3{
        margin-left: 0.75rem!important;
    }
    .mt-3{
        margin-top: 0.75rem!important;
    }
    .mb-3{
        margin-bottom: 0.75rem!important;
    }
    .mx-3{
        margin-right: 0.75rem!important;
        margin-left: 0.75rem!important;
    }
    .my-3{
        margin-top: 0.75rem!important;
        margin-bottom: 0.75rem!important;
    }

    .ma-4{
        margin: 1rem!important;
    }
    .mr-4{
        margin-right: 1rem!important;
    }
    .ml-4{
        margin-left: 1rem!important;
    }
    .mt-4{
        margin-top: 1rem!important;
    }
    .mb-4{
        margin-bottom: 1rem!important;
    }
    .mx-4{
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }
    .my-4{
        margin-top: 1rem!important;
        margin-bottom: 1rem!important;
    }

    .ma-5{
        margin: 1.25rem!important;
    }
    .mr-5{
        margin-right: 1.25rem!important;
    }
    .ml-5{
        margin-left: 1.25rem!important;
    }
    .mt-5{
        margin-top: 1.25rem!important;
    }
    .mb-5{
        margin-bottom: 1.25rem!important;
    }
    .mx-5{
        margin-right: 1.25rem!important;
        margin-left: 1.25rem!important;
    }
    .my-5{
        margin-top: 1.25rem!important;
        margin-bottom: 1.25rem!important;
    }

    .ma-6{
        margin: 1.5rem!important;
    }
    .mr-6{
        margin-right: 1.5rem!important;
    }
    .ml-6{
        margin-left: 1.5rem!important;
    }
    .mt-6{
        margin-top: 1.5rem!important;
    }
    .mb-6{
        margin-bottom: 1.5rem!important;
    }
    .mx-6{
        margin-right: 1.5rem!important;
        margin-left: 1.5rem!important;
    }
    .my-6{
        margin-top: 1.5rem!important;
        margin-bottom: 1.5rem!important;
    }

    .ma-7{
        margin: 1.75rem!important;
    }
    .mr-7{
        margin-right: 1.75rem!important;
    }
    .ml-7{
        margin-left: 1.75rem!important;
    }
    .mt-7{
        margin-top: 1.75rem!important;
    }
    .mb-7{
        margin-bottom: 1.75rem!important;
    }
    .mx-7{
        margin-right: 1.75rem!important;
        margin-left: 1.75rem!important;
    }
    .my-7{
        margin-top: 1.75rem!important;
        margin-bottom: 1.75rem!important;
    }

    .ma-8{
        margin: 2rem!important;
    }
    .mr-8{
        margin-right: 2rem!important;
    }
    .ml-8{
        margin-left: 2rem!important;
    }
    .mt-8{
        margin-top: 2rem!important;
    }
    .mb-8{
        margin-bottom: 2rem!important;
    }
    .mx-8{
        margin-right: 2rem!important;
        margin-left: 2rem!important;
    }
    .my-8{
        margin-top: 2rem!important;
        margin-bottom: 2rem!important;
    }

    .ma-9{
        margin: 2.25rem!important;
    }
    .mr-9{
        margin-right: 2.25rem!important;
    }
    .ml-9{
        margin-left: 2.25rem!important;
    }
    .mt-9{
        margin-top: 2.25rem!important;
    }
    .mb-9{
        margin-bottom: 2.25rem!important;
    }
    .mx-9{
        margin-right: 2.25rem!important;
        margin-left: 2.25rem!important;
    }
    .my-9{
        margin-top: 2.25rem!important;
        margin-bottom: 2.25rem!important;
    }

    .ma-10{
        margin: 2.5rem!important;
    }
    .mr-10{
        margin-right: 2.5rem!important;
    }
    .ml-10{
        margin-left: 2.5rem!important;
    }
    .mt-10{
        margin-top: 2.5rem!important;
    }
    .mb-10{
        margin-bottom: 2.5rem!important;
    }
    .mx-10{
        margin-right: 2.5rem!important;
        margin-left: 2.5rem!important;
    }
    .my-10{
        margin-top: 2.5rem!important;
        margin-bottom: 2.5rem!important;
    }

    .ma-11{
        margin: 2.75rem!important;
    }
    .mr-11{
        margin-right: 2.75rem!important;
    }
    .ml-11{
        margin-left: 2.75rem!important;
    }
    .mt-11{
        margin-top: 2.75rem!important;
    }
    .mb-11{
        margin-bottom: 2.75rem!important;
    }
    .mx-11{
        margin-right: 2.75rem!important;
        margin-left: 2.75rem!important;
    }
    .my-11{
        margin-top: 2.75rem!important;
        margin-bottom: 2.75rem!important;
    }

    .ma-12{
        margin: 3rem!important;
    }
    .mr-12{
        margin-right: 3rem!important;
    }
    .ml-12{
        margin-left: 3rem!important;
    }
    .mt-12{
        margin-top: 3rem!important;
    }
    .mb-12{
        margin-bottom: 3rem!important;
    }
    .mx-12{
        margin-right: 3rem!important;
        margin-left: 3rem!important;
    }
    .my-12{
        margin-top: 3rem!important;
        margin-bottom: 3rem!important;
    }

    .ma-13{
        margin: 3.25rem!important;
    }
    .mr-13{
        margin-right: 3.25rem!important;
    }
    .ml-13{
        margin-left: 3.25rem!important;
    }
    .mt-13{
        margin-top: 3.25rem!important;
    }
    .mb-13{
        margin-bottom: 3.25rem!important;
    }
    .mx-13{
        margin-right: 3.25rem!important;
        margin-left: 3.25rem!important;
    }
    .my-13{
        margin-top: 3.25rem!important;
        margin-bottom: 3.25rem!important;
    }

    .ma-14{
        margin: 3.5rem!important;
    }
    .mr-14{
        margin-right: 3.5rem!important;
    }
    .ml-14{
        margin-left: 3.5rem!important;
    }
    .mt-14{
        margin-top: 3.5rem!important;
    }
    .mb-14{
        margin-bottom: 3.5rem!important;
    }
    .mx-14{
        margin-right: 3.5rem!important;
        margin-left: 3.5rem!important;
    }
    .my-14{
        margin-top: 3.5rem!important;
        margin-bottom: 3.5rem!important;
    }

    .ma-15{
        margin: 3.75rem!important;
    }
    .mr-15{
        margin-right: 3.75rem!important;
    }
    .ml-15{
        margin-left: 3.75rem!important;
    }
    .mt-15{
        margin-top: 3.75rem!important;
    }
    .mb-15{
        margin-bottom: 3.75rem!important;
    }
    .mx-15{
        margin-right: 3.75rem!important;
        margin-left: 3.75rem!important;
    }
    .my-15{
        margin-top: 3.75rem!important;
        margin-bottom: 3.75rem!important;
    }

    .ma-16{
        margin: 4rem!important;
    }
    .mr-16{
        margin-right: 4rem!important;
    }
    .ml-16{
        margin-left: 4rem!important;
    }
    .mt-16{
        margin-top: 4rem!important;
    }
    .mb-16{
        margin-bottom: 4rem!important;
    }
    .mx-16{
        margin-right: 4rem!important;
        margin-left: 4rem!important;
    }
    .my-16{
        margin-top: 4rem!important;
        margin-bottom: 4rem!important;
    }

    /*PADDINGS*/
    .pa-1{
        padding: 0.25rem!important;
    }
    .pr-1{
        padding-right: 0.25rem!important;
    }
    .pl-1{
        padding-left: 0.25rem!important;
    }
    .pt-1{
        padding-top: 0.25rem!important;
    }
    .pb-1{
        padding-bottom: 0.25rem!important;
    }
    .px-1{
        padding-right: 0.25rem!important;
        padding-left: 0.25rem!important;
    }
    .py-1{
        padding-top: 0.25rem!important;
        padding-bottom: 0.25rem!important;
    }

    .pa-2{
        padding: 0.5rem!important;
    }
    .pr-2{
        padding-right: 0.5rem!important;
    }
    .pl-2{
        padding-left: 0.5rem!important;
    }
    .pt-2{
        padding-top: 0.5rem!important;
    }
    .pb-2{
        padding-bottom: 0.5rem!important;
    }
    .px-2{
        padding-right: 0.5rem!important;
        padding-left: 0.5rem!important;
    }
    .py-2{
        padding-top: 0.5rem!important;
        padding-bottom: 0.5rem!important;
    }

    .pa-3{
        padding: 0.75rem!important;
    }
    .pr-3{
        padding-right: 0.75rem!important;
    }
    .pl-3{
        padding-left: 0.75rem!important;
    }
    .pt-3{
        padding-top: 0.75rem!important;
    }
    .pb-3{
        padding-bottom: 0.75rem!important;
    }
    .px-3{
        padding-right: 0.75rem!important;
        padding-left: 0.75rem!important;
    }
    .py-3{
        padding-top: 0.75rem!important;
        padding-bottom: 0.75rem!important;
    }

    .pa-4{
        padding: 1rem!important;
    }
    .pr-4{
        padding-right: 1rem!important;
    }
    .pl-4{
        padding-left: 1rem!important;
    }
    .pt-4{
        padding-top: 1rem!important;
    }
    .pb-4{
        padding-bottom: 1rem!important;
    }
    .px-4{
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }
    .py-4{
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }

    .pa-5{
        padding: 1.25rem!important;
    }
    .pr-5{
        padding-right: 1.25rem!important;
    }
    .pl-5{
        padding-left: 1.25rem!important;
    }
    .pt-5{
        padding-top: 1.25rem!important;
    }
    .pb-5{
        padding-bottom: 1.25rem!important;
    }
    .px-5{
        padding-right: 1.25rem!important;
        padding-left: 1.25rem!important;
    }
    .py-5{
        padding-top: 1.25rem!important;
        padding-bottom: 1.25rem!important;
    }

    .pa-6{
        padding: 1.5rem!important;
    }
    .pr-6{
        padding-right: 1.5rem!important;
    }
    .pl-6{
        padding-left: 1.5rem!important;
    }
    .pt-6{
        padding-top: 1.5rem!important;
    }
    .pb-6{
        padding-bottom: 1.5rem!important;
    }
    .px-6{
        padding-right: 1.5rem!important;
        padding-left: 1.5rem!important;
    }
    .py-6{
        padding-top: 1.5rem!important;
        padding-bottom: 1.5rem!important;
    }

    .pa-7{
        padding: 1.75rem!important;
    }
    .pr-7{
        padding-right: 1.75rem!important;
    }
    .pl-7{
        padding-left: 1.75rem!important;
    }
    .pt-7{
        padding-top: 1.75rem!important;
    }
    .pb-7{
        padding-bottom: 1.75rem!important;
    }
    .px-7{
        padding-right: 1.75rem!important;
        padding-left: 1.75rem!important;
    }
    .py-7{
        padding-top: 1.75rem!important;
        padding-bottom: 1.75rem!important;
    }

    .pa-8{
        padding: 2rem!important;
    }
    .pr-8{
        padding-right: 2rem!important;
    }
    .pl-8{
        padding-left: 2rem!important;
    }
    .pt-8{
        padding-top: 2rem!important;
    }
    .pb-8{
        padding-bottom: 2rem!important;
    }
    .px-8{
        padding-right: 2rem!important;
        padding-left: 2rem!important;
    }
    .py-8{
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
    }

    .pa-9{
        padding: 2.25rem!important;
    }
    .pr-9{
        padding-right: 2.25rem!important;
    }
    .pl-9{
        padding-left: 2.25rem!important;
    }
    .pt-9{
        padding-top: 2.25rem!important;
    }
    .pb-9{
        padding-bottom: 2.25rem!important;
    }
    .px-9{
        padding-right: 2.25rem!important;
        padding-left: 2.25rem!important;
    }
    .py-9{
        padding-top: 2.25rem!important;
        padding-bottom: 2.25rem!important;
    }

    .pa-10{
        padding: 2.5rem!important;
    }
    .pr-10{
        padding-right: 2.5rem!important;
    }
    .pl-10{
        padding-left: 2.5rem!important;
    }
    .pt-10{
        padding-top: 2.5rem!important;
    }
    .pb-10{
        padding-bottom: 2.5rem!important;
    }
    .px-10{
        padding-right: 2.5rem!important;
        padding-left: 2.5rem!important;
    }
    .py-10{
        padding-top: 2.5rem!important;
        padding-bottom: 2.5rem!important;
    }

    .pa-11{
        padding: 2.75rem!important;
    }
    .pr-11{
        padding-right: 2.75rem!important;
    }
    .pl-11{
        padding-left: 2.75rem!important;
    }
    .pt-11{
        padding-top: 2.75rem!important;
    }
    .pb-11{
        padding-bottom: 2.75rem!important;
    }
    .px-11{
        padding-right: 2.75rem!important;
        padding-left: 2.75rem!important;
    }
    .py-11{
        padding-top: 2.75rem!important;
        padding-bottom: 2.75rem!important;
    }

    .pa-12{
        padding: 3rem!important;
    }
    .pr-12{
        padding-right: 3rem!important;
    }
    .pl-12{
        padding-left: 3rem!important;
    }
    .pt-12{
        padding-top: 3rem!important;
    }
    .pb-12{
        padding-bottom: 3rem!important;
    }
    .px-12{
        padding-right: 3rem!important;
        padding-left: 3rem!important;
    }
    .py-12{
        padding-top: 3rem!important;
        padding-bottom: 3rem!important;
    }

    .pa-13{
        padding: 3.25rem!important;
    }
    .pr-13{
        padding-right: 3.25rem!important;
    }
    .pl-13{
        padding-left: 3.25rem!important;
    }
    .pt-13{
        padding-top: 3.25rem!important;
    }
    .pb-13{
        padding-bottom: 3.25rem!important;
    }
    .px-13{
        padding-right: 3.25rem!important;
        padding-left: 3.25rem!important;
    }
    .py-13{
        padding-top: 3.25rem!important;
        padding-bottom: 3.25rem!important;
    }

    .pa-14{
        padding: 3.5rem!important;
    }
    .pr-14{
        padding-right: 3.5rem!important;
    }
    .pl-14{
        padding-left: 3.5rem!important;
    }
    .pt-14{
        padding-top: 3.5rem!important;
    }
    .pb-14{
        padding-bottom: 3.5rem!important;
    }
    .px-14{
        padding-right: 3.5rem!important;
        padding-left: 3.5rem!important;
    }
    .py-14{
        padding-top: 3.5rem!important;
        padding-bottom: 3.5rem!important;
    }

    .pa-15{
        padding: 3.75rem!important;
    }
    .pr-15{
        padding-right: 3.75rem!important;
    }
    .pl-15{
        padding-left: 3.75rem!important;
    }
    .pt-15{
        padding-top: 3.75rem!important;
    }
    .pb-15{
        padding-bottom: 3.75rem!important;
    }
    .px-15{
        padding-right: 3.75rem!important;
        padding-left: 3.75rem!important;
    }
    .py-15{
        padding-top: 3.75rem!important;
        padding-bottom: 3.75rem!important;
    }

    .pa-16{
        padding: 4rem!important;
    }
    .pr-16{
        padding-right: 4rem!important;
    }
    .pl-16{
        padding-left: 4rem!important;
    }
    .pt-16{
        padding-top: 4rem!important;
    }
    .pb-16{
        padding-bottom: 4rem!important;
    }
    .px-16{
        padding-right: 4rem!important;
        padding-left: 4rem!important;
    }
    .py-16{
        padding-top: 4rem!important;
        padding-bottom: 4rem!important;
    }

    /*GROUPS*/
    .v-slide-group__next, .v-slide-group__prev {
        flex: 0 1 3.25rem;
        min-width: 3.25rem;
    }

    /*TABS*/
    .v-tabs-bar {
        height: 3rem;
    }
    .v-tab{
        min-width: 5.625rem;
        max-width: 22.5rem;
        padding: 0 1rem;
    }

    /*EXPANSION PANELS*/
    .v-expansion-panel--active>.v-expansion-panel-header {
        min-height: 4rem;
    }
    .v-expansion-panel-content__wrap {
        padding: 0 1.5rem 1rem;
    }
    .v-expansion-panels {
        border-radius: 0.25rem;
    }

    /*BADGES*/
    .v-badge__badge .v-icon {
        font-size: 0.75rem!important;
        height: 0.75rem;
        margin: 0 -0.125rem;
        width: 0.75rem;
    }

    /*TIMELINE*/
    .v-timeline-item__dot--large {
        height: 3.25rem;
        left: calc(50% - 1.625rem);
        width: 3.25rem;
    }
    .v-timeline-item {
        padding-bottom: 1.5rem;
    }
    .v-timeline-item__divider {
        min-width: 6rem;
    }
    .v-application--is-ltr .v-timeline--dense:not(.v-timeline--reverse):before, .v-application--is-rtl .v-timeline--reverse.v-timeline--dense:before {
        left: 2.9375rem;
    }
    .v-timeline {
        padding-top: 1.5rem;
    }
    .v-timeline:before {
        width: 0.125rem;
    }
    .v-timeline--dense .v-timeline-item__body {
        max-width: calc(100% - 6rem);
    }

    /*BUTTONS*/
    .v-btn--icon.v-size--large {
        height: 2.75rem;
        width: 2.75rem;
    }
    .v-btn--fab.v-size--large .v-icon, .v-btn--icon.v-size--large .v-icon {
        height: 1.75rem;
        font-size: 1.75rem;
        width: 1.75rem;
    }
    .v-btn--fab.v-size--small.v-btn--absolute.v-btn--top {
        top: -1.25rem;
    }
    .v-btn--fab.v-size--x-small.v-btn--absolute.v-btn--top {
        top: -1rem;
    }
    .v-btn:not(.v-btn--round).v-size--default{
        height: 2.25rem;
        min-width: 4rem;
        padding: 0 1rem;
    }
    .v-btn:not(.v-btn--round).v-size--small {
        height: 1.75rem;
        min-width: 3.125rem;
        padding: 0 0.78rem;
    }
    .v-btn--fab.v-size--small {
        height: 2.5rem;
        width: 2.5rem;
    }
    .v-btn--fab.v-size--default .v-icon, .v-btn--fab.v-size--small .v-icon, .v-btn--icon.v-size--default .v-icon, .v-btn--icon.v-size--small .v-icon {
        height: 1.5rem;
        font-size: 1.5rem;
        width: 1.5rem;
    }
    .v-btn--fab.v-size--x-small {
        height: 2rem;
        width: 2rem;
    }
    .v-btn--fab.v-size--default {
        height: 3.5rem;
        width: 3.5rem;
    }
    .v-btn--fab.v-size--default.v-btn--absolute.v-btn--top {
        top: -1.75rem;
    }

    /*ICONS*/
    .v-icon.v-icon--dense {
        font-size: 1.25rem;
    }
    .v-icon.v-icon {
        font-size: 1.5rem;
    }
    .v-btn--fab.v-size--x-small .v-icon, .v-btn--icon.v-size--x-small .v-icon {
        height: 1.125rem;
        font-size: 1.125rem;
        width: 1.125rem;
    }

    /*SLIDER*/
    .v-slider__thumb {
        width: 0.75rem;
        height: 0.75rem;
        left: -0.375rem;
    }
    .v-slider--horizontal .v-slider__track-container {
        height: 0.125rem;
    }
    .v-slider--horizontal {
        min-height: 2rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .v-application--is-ltr .v-input__prepend-outer, .v-application--is-rtl .v-input__append-outer {
        margin-right: 0.5625rem;
    }
    .v-input__append-outer, .v-input__prepend-outer {
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
    }
    .v-application--is-ltr .v-input__append-outer {
        margin-left: 0.5625rem;
    }

    /*ALERTS*/
    .v-alert {
        font-size: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
    }
    .v-alert--dense {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .v-alert:not(.v-sheet--tile) {
        border-radius: 0.25rem;
    }
    .v-sheet.v-alert {
        border-radius: 0.25rem;
    }
    .v-alert__icon.v-icon {
        font-size: 1.5rem;
    }
    .v-application--is-ltr .v-alert__icon {
        margin-right: 1rem;
    }
    .v-alert__icon {
        height: 1.5rem;
        min-width: 1.5rem;
    }

    /*TABLE*/
    .v-data-table--dense>.v-data-table__wrapper>table>tbody>tr>td, .v-data-table--dense>.v-data-table__wrapper>table>tbody>tr>th, .v-data-table--dense>.v-data-table__wrapper>table>tfoot>tr>td, .v-data-table--dense>.v-data-table__wrapper>table>tfoot>tr>th, .v-data-table--dense>.v-data-table__wrapper>table>thead>tr>td, .v-data-table--dense>.v-data-table__wrapper>table>thead>tr>th {
        height: 2rem!important;
    }
    .v-data-table>.v-data-table__wrapper>table>tbody>tr>td, .v-data-table>.v-data-table__wrapper>table>tfoot>tr>td, .v-data-table>.v-data-table__wrapper>table>thead>tr>td {
        height: 3rem;
    }
    .v-data-table>.v-data-table__wrapper>table>tbody>tr>td, .v-data-table>.v-data-table__wrapper>table>tbody>tr>th, .v-data-table>.v-data-table__wrapper>table>tfoot>tr>td, .v-data-table>.v-data-table__wrapper>table>tfoot>tr>th, .v-data-table>.v-data-table__wrapper>table>thead>tr>td, .v-data-table>.v-data-table__wrapper>table>thead>tr>th {
        padding: 0 1rem;
    }
    .v-data-table>.v-data-table__wrapper>table>tbody>tr>th, .v-data-table>.v-data-table__wrapper>table>tfoot>tr>th, .v-data-table>.v-data-table__wrapper>table>thead>tr>th {
        height: 3rem;
    }
    .v-data-table>.v-data-table__wrapper tbody tr:last-child:hover td:last-child {
        border-bottom-right-radius: 0.25rem;
    }
    .v-data-table>.v-data-table__wrapper tbody tr:first-child:hover td:last-child {
        border-top-right-radius: 0.25rem;
    }

    /*CARDS*/
    .v-sheet.v-card {
        border-radius: 0.25rem;
    }
    .v-card__subtitle, .v-card__text, .v-card__title {
        padding: 1rem;
    }

    /*MENUS*/
    .v-menu__content {
        box-shadow: 0 0.3125rem 0.3125rem -0.1875rem rgb(0 0 0 / 20%), 0 0.5rem 0.625rem 0.0625rem rgb(0 0 0 / 14%), 0 0.1875rem 0.875rem 0.125rem rgb(0 0 0 / 12%);
        border-radius: 0.25rem;
    }

    /*LISTS*/
    .v-list {
        padding: 0.5rem 0;
    }
    .v-list-item {
        min-height: 3rem;
        padding: 0 1rem;
    }
    .v-list-item__content {
        padding: 0.75rem 0;
    }
    .v-autocomplete__content.v-menu__content .v-select-list {
        border-radius: 0 0 0.25rem 0.25rem;
    }

    /*CHIPS*/
    .v-chip.v-size--default {
        border-radius: 1rem;
        font-size: 0.875rem;
        height: 2rem;
    }
    .v-select .v-chip {
        margin: 0.25rem;
    }
    .v-chip--label {
        border-radius: 0.25rem!important;
    }
    .v-chip {
        line-height: 1.25rem;
        padding: 0 0.75rem;
    }
    .v-chip.v-size--small {
        border-radius: 0.75rem;
        font-size: 0.75rem;
        height: 1.5rem;
    }

    /*APP BAR*/
    .v-toolbar__content, .v-toolbar__extension {
        padding: 0.25rem 1rem;
    }

    /*INPUTS*/
    .v-text-field {
        padding-top: 0.75rem;
        margin-top: 0.25rem;
    }
    .v-text-field--rounded>.v-input__control>.v-input__slot {
        padding: 0 1.5rem;
    }
    .v-text-field .v-label {
        top: 0.375rem;
    }
    .v-text-field>.v-input__control>.v-input__slot:after, .v-text-field>.v-input__control>.v-input__slot:before {
        bottom: -0.0625rem;
    }
    .v-text-field .v-input__append-inner, .v-text-field .v-input__prepend-inner {
        margin-top: 0.25rem;
    }
    .v-text-field.v-text-field--solo .v-input__append-inner, .v-text-field.v-text-field--solo .v-input__prepend-inner{
        margin-top: 0;
    }
    .v-input--hide-details>.v-input__control>.v-input__slot {
        margin-bottom: 0!important;
    }
    .v-input__icon {
        height: 1.5rem;
        min-width: 1.5rem;
        width: 1.5rem;
    }
    .v-text-field--outlined, .v-text-field--solo {
        border-radius: 0.25rem;
    }
    .v-input--radio-group--column .v-radio:not(:last-child):not(:only-child) {
        margin-bottom: 0.5rem;
    }
    .v-input input {
        max-height: 2rem;
    }
    .v-input {
        font-size: 1rem;
    }
    .v-text-field input {
        padding: 0.5rem 0;
    }
    .v-text-field--outlined legend {
        line-height: 0.6875rem;
    }
    .v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--full-width>.v-input__control>.v-input__slot, .v-text-field--outlined>.v-input__control>.v-input__slot {
        min-height: 3.5rem;
    }
    .v-text-field.v-text-field--enclosed .v-text-field__details, .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)>.v-input__control>.v-input__slot {
        padding: 0 0.75rem;
    }
    .v-text-field--outlined fieldset {
        border: 0.0625rem solid;
        top: -0.3125rem;
    }
    .v-application--is-ltr .v-text-field--outlined fieldset {
        padding-left: 0.5rem;
    }
    .v-application--is-ltr .v-text-field .v-input__append-inner, .v-application--is-rtl .v-text-field .v-input__prepend-inner {
        padding-left: 0.25rem;
    }
    .v-text-field--enclosed .v-input__append-inner, .v-text-field--enclosed .v-input__append-outer, .v-text-field--enclosed .v-input__prepend-inner, .v-text-field--enclosed .v-input__prepend-outer, .v-text-field--full-width .v-input__append-inner, .v-text-field--full-width .v-input__append-outer, .v-text-field--full-width .v-input__prepend-inner, .v-text-field--full-width .v-input__prepend-outer {
        margin-top: 1.0625rem;
    }
    .v-text-field__details {
        min-height: 0.875rem;
    }
    .v-text-field.v-text-field--enclosed .v-text-field__details {
        margin-bottom: 0.5rem;
    }
    .v-input--dense>.v-input__control>.v-input__slot {
        margin-bottom: 0.25rem;
    }
    .v-input--selection-controls.v-input--dense .v-input--selection-controls__ripple {
        width: 1.75rem;
        height: 1.75rem;
        left: -0.5625rem
    }
    .v-input--selection-controls {
        margin-top: 1rem;
        padding-top: 0.25rem;
    }
    .v-input--selection-controls.v-input--dense:not(.v-input--switch) .v-input--selection-controls__ripple {
        top: calc(50% - 1.3125rem);
    }
    .v-application--is-ltr .v-text-field .v-input__prepend-inner {
        padding-right: 0.25rem;
    }
    .v-input--selection-controls__ripple {
        height: 2.125rem;
        width: 2.125rem;
        left: -0.75rem;
        top: calc(50% - 1.5rem);
        margin: 0.4375rem;
    }
    .v-input--selection-controls__input {
        height: 1.5rem;
        width: 1.5rem;
    }
    .v-application--is-ltr .v-input--selection-controls__input {
        margin-right: 0.5rem;
    }
    .v-text-field--outlined .v-label {
        top: 1.125rem;
    }
    .v-input .v-label {
        height: 1.25rem;
        line-height: 1.25rem;
    }
    .v-text-field input {
        line-height: 1.25rem;
        padding: 0.5rem 0;
    }
    .v-text-field--outlined .v-label--active{
        transform: translateY(-1.5rem) scale(.75);
    }
    .v-input__slot {
        margin-bottom: 0.5rem;
    }
    .v-label {
        font-size: 1rem;
        line-height: 1;
        min-height: 0.5rem;
    }
    .v-select.v-text-field--outlined:not(.v-text-field--single-line) .v-select__selections {
        padding: 0.5rem 0;
    }
    .theme--light.v-select .v-select__selections {
        min-height: 0.625rem;
    }
    .v-select__selections {
        line-height: 1.125rem;
    }
    .v-messages {
        font-size: 0.75rem;
        min-height: 0.875rem;
        min-width: 0.0625rem;
    }
}
