version: '3'

networks:
  traefik:
    external: true

services:
  # The reverse proxy service (Traefik)
  traefik:
    image: {{ traefik_image }}  # The official Traefik docker image
    command: --logLevel="{{ traefik_log_level }}" --configFile=/traefik.toml # --api  # Enables the web UI and tells Traefik to listen to docker
    restart: always
    ports:
      - "80:80"      # The HTTP port
      - "443:443"    # The HTTS port
      - "8080:8080"  # The Web UI (enabled by --api)
    volumes:
      - ./certs:/certs
      - ./traefik.toml:/traefik.toml
      - /var/run/docker.sock:/var/run/docker.sock  # So that Traefik can listen to the Docker events
    labels:
    - raefik.enable=false
    networks:
    - {{ traefik_network }}
