$icon-arrow-down: "\ea01";
$icon-arrow-long: "\ea02";
$icon-arrow-right: "\ea03";
$icon-balance: "\ea04";
$icon-bookmarks: "\ea05";
$icon-calendar: "\ea06";
$icon-check: "\ea07";
$icon-clip: "\ea08";
$icon-comment: "\ea09";
$icon-compare: "\ea0a";
$icon-copy: "\ea0b";
$icon-delete: "\ea0c";
$icon-download: "\ea0d";
$icon-edit: "\ea0e";
$icon-fb: "\ea0f";
$icon-filter: "\ea10";
$icon-home: "\ea11";
$icon-left: "\ea12";
$icon-linkedin: "\ea13";
$icon-map: "\ea14";
$icon-menu: "\ea15";
$icon-menu-btn: "\ea16";
$icon-phone: "\ea17";
$icon-right: "\ea18";
$icon-rotate: "\ea19";
$icon-search: "\ea1a";
$icon-shopping-cart: "\ea1b";
$icon-time: "\ea1c";
$icon-union: "\ea1d";
$icon-user: "\ea1e";
$icon-x-circle: "\ea1f";
$icon-x-icon: "\ea20";
$icon-youtube: "\ea21";

@font-face {
    font-family: iconfont;
    src: url("../fonts/iconfont/iconfont.eot");
    src: url("../fonts/iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont/iconfont.woff2") format("woff2"), url("../fonts/iconfont/iconfont.woff") format("woff"), url("../fonts/iconfont/iconfont.ttf") format("truetype"), url("../fonts/iconfont/iconfont.svg#iconfont") format("svg");
    font-style: normal;
    font-weight: 400;
}

%icon {
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 14px/1 iconfont;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.icon {
    @extend %icon;
}

.icon-lg {
    vertical-align: -15%;
    line-height: 0.75em;
    font-size: 1.33333333em;
}

.icon-2x {
    font-size: 2em;
}

.icon-3x {
    font-size: 3em;
}

.icon-4x {
    font-size: 4em;
}

.icon-5x {
    font-size: 5em;
}

.icon-fw {
    width: 1.28571429em;
    text-align: center;
}

.icon-arrow-down::before {
    content: "\ea01";
}

.icon-arrow-long::before {
    content: "\ea02";
}

.icon-arrow-right::before {
    content: "\ea03";
}

.icon-balance::before {
    content: "\ea04";
}

.icon-bookmarks::before {
    content: "\ea05";
}

.icon-calendar::before {
    content: "\ea06";
}

.icon-check::before {
    content: "\ea07";
}

.icon-clip::before {
    content: "\ea08";
}

.icon-comment::before {
    content: "\ea09";
}

.icon-compare::before {
    content: "\ea0a";
}

.icon-copy::before {
    content: "\ea0b";
}

.icon-delete::before {
    content: "\ea0c";
}

.icon-download::before {
    content: "\ea0d";
}

.icon-edit::before {
    content: "\ea0e";
}

.icon-fb::before {
    content: "\ea0f";
}

.icon-filter::before {
    content: "\ea10";
}

.icon-home::before {
    content: "\ea11";
}

.icon-left::before {
    content: "\ea12";
}

.icon-linkedin::before {
    content: "\ea13";
}

.icon-map::before {
    content: "\ea14";
}

.icon-menu::before {
    content: "\ea15";
}

.icon-menu-btn::before {
    content: "\ea16";
}

.icon-phone::before {
    content: "\ea17";
}

.icon-right::before {
    content: "\ea18";
}

.icon-rotate::before {
    content: "\ea19";
}

.icon-search::before {
    content: "\ea1a";
}

.icon-shopping-cart::before {
    content: "\ea1b";
}

.icon-time::before {
    content: "\ea1c";
}

.icon-union::before {
    content: "\ea1d";
}

.icon-user::before {
    content: "\ea1e";
}

.icon-x-circle::before {
    content: "\ea1f";
}

.icon-x-icon::before {
    content: "\ea20";
}

.icon-youtube::before {
    content: "\ea21";
}

